@import "src/css/color";

.organisation-header {
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .organisation-header-content {
        display: flex;
    }

    .organisation-header-info {
        display: flex;
        align-items: end;
    }

    .organisation-header-info-item {
        font-size: 16px;
        display: flex;
        align-items: end;

        span {
            margin-right: 5px;
            font-size: 22px;
            font-weight: bold;
        }

        i {
            height: 26px;
            display: flex;
            align-items: center;
            font-size: 6px;
            margin: 0 10px;
        }
    }

    .organisation-header-actions {
        display: flex;
        align-items: end;
    }
}
.organisation-title {
    font-size: 45px;
    font-weight: bold;
    margin-top: 10px;
}
ul[role="tablist"] {
    margin-bottom: 20px;

    button[id^="organisation-tabs-tab-"] {
        border: none;
        transition: .2s;
        border-bottom: 2px solid transparent;
        font-family: Montserrat, serif;
        font-size: 16px;
        font-weight: 500;

        &.active {
            border-bottom: 2px solid $primaryColor;
            color: $primaryColor;
        }
    }
}

.organisation-tabs-events {
    display: flex;
    flex-wrap: wrap;
}