// Primary
$primaryColor: #643FFF;
$primaryColorLight: rgba(100, 63, 255, 0.95);
$primaryColorDark: #4d2de7;

// Dark
$darkColor: #000;
$darkColorLight: #5B5B5B;

// Light
$lightColor: #C1C1C1;

// Danger
$dangerColor: #D23737;

// Green
$greenColor: #3C9C41;