.event-item {
    margin-right: 20px;
    min-width: 370px;
    max-width: 350px;
    height: fit-content;
    background: #fff no-repeat center;
    display: flex;
    flex-direction: column;
    align-items: end;
    background-size: cover;
    transition: .3s;
    position: relative;
    z-index: 100;
    padding: 15px;
}
.event-item:hover {
    transform: scale(1.03);
    cursor: pointer;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}
.event-item-content {
    border-radius: 19px;
    background: #fff;
    width: 100%;
}
.event-item-title {
    font-weight: bold;
    font-size: 14px;
}
.event-item-date {
    color: #adacac;
    font-size: 14px;
}
.event-item-date i {
    margin-right: 5px;
}
.event-item-img {
    width: 100%;
    height: 180px;
    background: #fff no-repeat center;
    background-size: cover;
    border-radius: 5px;
}
.event-author {
    display: flex;
    width: 100%;
    align-items: center;
}
.event-author-img {
    width: 25px;
    height: 25px;
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: 900;
    align-items: center;
    background: #eee;
    border-radius: 5px;
    margin-right: 10px;
    font-size: 13px;
}
.event-author-name {
    font-size: 13px;
}
.event-item-location {
    color: #ccc;
}