* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', serif;
}
a {
    text-decoration: none;
    color: inherit;
}
.primary-bg {
    background: rgb(177,216,253);
    background: linear-gradient(140deg, rgba(177,216,253,1) 0%, rgba(186,175,255,1) 36%, rgba(175,255,182,1) 100%);
}
.secondary-bg {
    background-color: #353746;
}
ul {
    list-style: none;
}
.simple-input {
    border: none;
    outline: none;
}
.form-separator {
    height: auto;
    width: 1px;
    background-color: #d7d1d1;
    margin: 0 20px;
}
.form-item {
    display: flex;
}
.form-item-icon {
    display: flex;
    height: 100%;
    align-items: center;
    margin-right: 15px;
    color: #6c6c6c;
}

::-webkit-scrollbar {
    width: 0;
}
a {
    text-decoration: none !important;
    color: inherit !important;
}